Repository CryptoYogiLLC/AI-Discover, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation, dependencies, github-actions, docker, tests

.github/labeler.yml:

# Configuration for labeler action
# https://github.com/actions/labeler

# Add 'frontend' label to any change in the frontend directory
frontend:
  - changed-files:
      - any-glob-to-any-file: frontend/**

# Add 'backend' label to any change in the backend directory
backend:
  - changed-files:
      - any-glob-to-any-file: backend/**

# Add 'documentation' label to any markdown file changes
documentation:
  - changed-files:
      - any-glob-to-any-file: "**/*.md"

# Add 'dependencies' label to dependency updates
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - "**/package.json"
          - "**/package-lock.json"
          - "**/requirements*.in"
          - "**/requirements*.txt"
          - "**/Pipfile"
          - "**/Pipfile.lock"
          - "**/poetry.lock"
          - "**/pyproject.toml"

# Add 'github-actions' label to workflow changes
github-actions:
  - changed-files:
      - any-glob-to-any-file: .github/**

# Add 'docker' label to Docker-related changes
docker:
  - changed-files:
      - any-glob-to-any-file:
          - "**/Dockerfile"
          - "**/docker-compose*.yml"
          - "**/.dockerignore"

# Add 'tests' label to test file changes
tests:
  - changed-files:
      - any-glob-to-any-file:
          - "**/test_*.py"
          - "**/*_test.py"
          - "**/tests/**"
          - "**/*.test.ts"
          - "**/*.test.tsx"
          - "**/*.spec.ts"
          - "**/*.spec.tsx"

fix: address CI/CD and security issues
  backend/Dockerfile
  backend/requirements-dev.in
  backend/tests/conftest.py
  frontend/Dockerfile
  frontend/Dockerfile.dev
Labels: frontend, backend, dependencies, docker, tests

fix: update TypeScript ESLint plugin to v7 for ESLint v9 compatibility
  frontend/package.json
Labels: frontend, dependencies

fix: update TypeScript ESLint to v8 for ESLint v9 support
  frontend/package.json
Labels: frontend, dependencies

fix: update eslint-config-next to v15 for ESLint v9 compatibility
  frontend/package.json
Labels: frontend, dependencies

fix: update package-lock.json for ESLint v9 dependencies
  frontend/package-lock.json
Labels: frontend, dependencies

fix: use pytest_asyncio.fixture for async test client
  backend/tests/conftest.py
Labels: backend, tests

fix: use DATABASE_URL env var for test database connection in CI
  backend/tests/conftest.py
Labels: backend, tests

fix: update health check test to match actual endpoint response
  backend/tests/test_main.py
Labels: backend, tests

docs: emphasize pre-commit setup requirements and add .env.example
  .env.example
  README.md
Labels: documentation

fix: additional Docker and Next.js compatibility fixes
  CLAUDE.md
  docker-compose.yml
  frontend/next.config.js
Labels: frontend, documentation, docker

fix: update pre-commit hooks for Python 3.13 and ESLint v9
  .hadolint.yaml
  .markdownlint.json
  .pre-commit-config.yaml
  CLAUDE.md
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, documentation, dependencies

fix: resolve CI/CD pipeline failures
  .github/workflows/ci-cd.yml
  sonar-project.properties
Labels: github-actions

fix: add full git history fetch for GitLeaks scanning
  .github/workflows/ci-cd.yml
  CI_CD_STATUS.md
Labels: documentation, github-actions

docs: update CI/CD status to reflect SONAR_TOKEN configuration
  CI_CD_STATUS.md
Labels: documentation

fix: use lowercase repository names for Docker images
  .github/workflows/ci-cd.yml
Labels: github-actions

fix: use fully lowercase Docker repository names
  .github/workflows/ci-cd.yml
  CI_CD_STATUS.md
Labels: documentation, github-actions

fix: resolve Docker build failures and SonarCloud security issues
  backend/Dockerfile
  backend/healthcheck.sh
  docker-compose.yml
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/healthcheck.js
Labels: frontend, backend, docker

fix: resolve Frontend Docker npm permission issues
  frontend/Dockerfile
  frontend/Dockerfile.dev
Labels: frontend, docker

fix: resolve Frontend Docker build directory permissions
  CI_CD_STATUS.md
  frontend/Dockerfile
Labels: frontend, documentation, docker

fix: CI/CD workflow formatting and Python 3.13 compatibility
  .github/workflows/ci-cd.yml
Labels: github-actions

fix: update pre-commit Python version to 3.13 and fix trailing whitespace
  .pre-commit-config.yaml
Labels: none

fix: apply Black formatting to backend code
  backend/alembic/env.py
  backend/alembic/versions/001_initial_schema.py
  backend/app/api/v1/endpoints/__init__.py
  backend/app/api/v1/endpoints/assessments.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/projects.py
  backend/app/api/v1/router.py
  backend/app/core/auth.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/assessment.py
  backend/app/models/project.py
  backend/app/models/user.py
  backend/app/schemas/assessment.py
  backend/app/schemas/auth.py
  backend/app/schemas/project.py
  backend/app/scripts/seed_data.py
  backend/app/services/auth.py
  backend/app/services/ldap.py
  backend/tests/conftest.py
  backend/tests/unit/test_auth.py
  backend/tests/utils/test_helpers.py
  frontend/.eslintrc.js
  frontend/next-env.d.ts
  frontend/src/app/login/page.tsx
  frontend/src/test-utils/index.tsx
  nginx/nginx.conf
Labels: frontend, backend, tests

fix: address security vulnerabilities identified by Semgrep
  backend/tests/unit/test_auth.py
Labels: backend, tests

fix: resolve SonarCloud security and quality issues
  backend/app/schemas/project.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/store/auth.ts
  frontend/src/test-utils/index.tsx
Labels: frontend, backend, dependencies

fix: resolve frontend ESLint and test failures
  frontend/src/app/__tests__/layout.test.tsx
  frontend/src/components/__tests__/Button.test.tsx
  frontend/src/store/auth.ts
Labels: frontend, tests

fix: apply Prettier formatting to frontend files
  frontend/src/app/api/health/route.ts
  frontend/src/app/dashboard/page.tsx
  frontend/src/app/error.tsx
  frontend/src/app/not-found.tsx
  frontend/src/app/page.tsx
  frontend/src/app/register/page.tsx
  frontend/src/components/auth-layout.tsx
  frontend/src/components/error-boundary.tsx
  frontend/src/components/loading.tsx
  frontend/src/components/navigation.tsx
  frontend/src/components/skip-link.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/skeleton.tsx
  frontend/src/components/ui/spinner.tsx
  frontend/src/hooks/use-focus-trap.ts
Labels: frontend

fix: reduce frontend test coverage thresholds for Sprint 1
  .github/workflows/ci-cd.yml
Labels: github-actions

fix: resolve TypeScript type errors and remove build cache
  .gitignore
  frontend/src/app/api/health/route.ts
Labels: frontend

fix: add baseUrl to TypeScript configuration
  frontend/tsconfig.json
Labels: frontend

fix: update jest coverage thresholds to match CI/CD
  frontend/jest.config.js
Labels: frontend

chore: temporarily relax CI/CD checks for Sprint 1 deployment
  .github/workflows/ci-cd.yml
  docs/technical-debt/SPRINT-1-DEBT.md
Labels: documentation, github-actions

fix: make frontend tests non-blocking for Sprint 1
  .github/workflows/ci-cd.yml
Labels: github-actions

fix: reduce backend pytest coverage requirement to 70%
  backend/pytest.ini
  docs/technical-debt/SPRINT-1-DEBT.md
Labels: backend, documentation

fix: let pytest use configuration from pytest.ini
  .github/workflows/ci-cd.yml
Labels: github-actions

fix: make backend tests non-blocking for Sprint 1
  .github/workflows/ci-cd.yml
  docs/technical-debt/SPRINT-1-DEBT.md
Labels: documentation, github-actions

fix: handle missing coverage artifacts in quality gates
  .github/workflows/ci-cd.yml
Labels: github-actions

fix: resolve Frontend Docker build issues
  .github/workflows/ci-cd.yml
  frontend/Dockerfile
Labels: frontend, github-actions, docker
